# 1. Ignore local Terraform directories (Plugins and Modules)
.terraform/

# 2. Ignore all state files (These contain secrets and shouldn't be in Git)
*.tfstate
*.tfstate.*

# 3. Ignore crash logs
crash.log
crash.*.log

# 4. Ignore sensitive variable files (Usually where you keep passwords/keys)
*.tfvars
*.tfvars.json

# 5. Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# 6. Ignore CLI configuration files
.terraformrc
terraform.rc

# 7. Ignore plan files (Sensitive and binary format)
*.tfplan